
<ion-view class="">
<ion-content  style="background:#e3e7f0; margin-bottom:45px;" class="has-footer">

<div class="wrapper">

	<div class="secBox">
		<h2 class="secTitle">My Leaves</h2>
		<ul class="leaveChart clearfix">
			<li>
				<div class="circle">14</div>
				Days Remaining
			</li>
			<li>
				<div class="circle">6</div>
				Days Taken
			</li>
			<li>
				<div class="circle">2</div>
				Days Booked
			</li>
			<li>
				<div class="circle">6</div>
				Days Pending
			</li>
		</ul>
	</div>
	<div class="secBox">
		<h2 class="secTitle">Leave Approval</h2>
		<table cellpadding="0" cellspacing="0" width="100%" class="leaveaStatusList">
			<tr>
				<td class="days">2</td>
				<td class="picCol"><div class="pic"><img src="img/profile-pic1.png" alt="" /></div></td>
				<td><b>Annual Leave</b><br />Pratrrk Mishra</td>
				<td class="action"><a class="button panding" href="#">Pending</a></td>
			</tr>
			<tr>
				<td class="days">1</td>
				<td class="picCol"><div class="pic"><img src="img/profile-pic1.png" alt="" /></div></td>
				<td><b>Paid Leave</b><br />Swatee Salunkhe</td>
				<td class="action"><a class="button approved" href="#">Approved</a></td>
			</tr>
			<tr>
				<td class="days">4</td>
				<td class="picCol"><div class="pic"><img src="img/profile-pic1.png" alt="" /></div></td>
				<td><b>Annual Leave</b><br />Rijul Sahu</td>
				<td class="action"><a class="button rejected" href="#">Rejected</a></td>
			</tr>
			<tr>
				<td class="days">1</td>
				<td class="picCol"><div class="pic"><img src="img/profile-pic1.png" alt="" /></div></td>
				<td><b>Paid Leave</b><br />Ashwin Ukey</td>
				<td class="action"><a class="button approved" href="#">Approved</a></td>
			</tr>
		</table>
	</div>
	<div class="holidayList clearfix">
		<h2 class="title">Holiday List 2015</h2>
		<ul>
			<li>
				<span class="month">January</span>
				<span class="date">26</span>
				<span class="holiday">Republic Day</span>
			</li>
			<li>
				<span class="month">February</span>
				<span class="date">28</span>
				<span class="holiday">Maha Shivaratri</span>
			</li>
			<li>
				<span class="month">March</span>
				<span class="date">17</span>
				<span class="holiday">Holi</span>
			</li>
			<li>
				<span class="month">April</span>
				<span class="date">18</span>
				<span class="holiday">Good Friday</span>
			</li>
		</ul>
	</div>
</div>

</ion-content>
</ion-view>
