<ion-view class="">
<ion-content  style="background:#e3e7f0; margin-bottom:45px;" class="has-footer">
<div class="wrapper">


	<div class="secBox caleListBox">
		<h2 class="secTitle">Pay Slip</h2>
		<ul class="fieldset">
			<li class="fields">
				<div class="field">
					<label>Date</label>
					<input type="Date" name="fname" class="rwd" format="mm/dd/yyyy" />
				</div>
			</li>
		
			<li class="action" style="text-align:center">
				<input type="button" name="fname" value="Get Pay Slip" class="button" />
			</li>
		</ul>
	</div>
</div>
</ion-content>
</ion-view>
