
<ion-view class="">
<ion-content class="loginPage">
<div class="">
	<a href="#" class="logo"><img src="img/gulf.png" alt="" /></a>
	<div class="loginBox">
		<h3 class="secTitle">Human Resource Management Systems</h3>
		<form  id="loginform">
			<div class="inputbox login"><input type="text" name="login" placeholder="USER NAME"  ng-model="user.Username" /></div>
			<div class="inputbox pass"><input type="password" name="password" placeholder="PASSWORD" ng-model="user.Password" /></div>
			<button class="button" name="login" type="submit" ng-click="authenticate()">LOGIN</button>
		</form>
	</div>
</div>

</ion-content>
</ion-view>
