
<ion-view class="">
<ion-content  style="background:#e3e7f0; margin-bottom:45px;" class="has-footer">
<div class="wrapper">
<div class="secBox profileBox">
		<h2 class="secTitle">My Profile</h2>
		<div class="profileDetails">
			<div class="profilePic"><img src="img/profile-pic1.png"></div>
			<table cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td width="35%"><b>Name:</b></td>
					<td>{{empObject.FirstName}}</td>
				</tr>
				<tr>
					<td><b>Email:</b></td>
					<td>{{empObject.EmailId}}</td>
				</tr>
				<tr>
					<td><b>Phone:</b></td>
					<td>{{empObject.MobNo}}</td>
				</tr>
				<tr>
					<td><b>Designation:</b></td>
					<td>{{empObject.Designation}}</td>
				</tr>
				<tr>
					<td><b>Salary Grade:</b></td>
					<td></td>
				</tr>
				<tr>
					<td><b>Reporting Manager:</b></td>
					<td>{{empObject.ReportingManager}}</td>
				</tr>
				<tr>
					<td><b>Joining Date:</b></td>
					<td></td>
				</tr>
			</table>
		</div>
</div>
</div>

</ion-content>
</ion-view>
